<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Password</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <section class="email-sent">
    <div class="form-container">
      <div class="header">
        <img class="logo" src="../img/motorbike.png" alt="logo" srcset="">
        <h1 class="title">Email has been sent!</h1>
        <p class="subtitle">Please check your inbox for instructions on how to reset the password</p>
      </div>
      <div class="email-image">
        <img src="../img/email.svg" alt="" srcset="">
      </div>
      <button class="primary-btn login-btn">Login</button>
      <p class="resend">
        <span>Didn't receive the email?</span>
        <a href="/">Resend</a>
      </p>
    </div>
  </section>
</body>
</html>
 