<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MotBike Sale</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <section class="my-order">
    <div class="my-order-container">
      <h1 class="title">My order</h1>

      <div class="my-order-content">
        <div class="order">
          <p>
            <span>03.24.21</span>
            <span>6 articles</span>
          </p>
          <p>$560.00</p>
        </div>
      </div>

      <div class="shopping-cart">
        <figure>
          <img src="../img/mot-1.jpg" alt="motorbike">
        </figure>
        <p>Motorbike</p>
        <p>$30.00</p>
      </div>

      <div class="shopping-cart">
        <figure>
          <img src="../img/mot-1.jpg" alt="motorbike">
        </figure>
        <p>Motorbike</p>
        <p>$30.00</p>
      </div>

      <div class="shopping-cart">
        <figure>
          <img src="../img/mot-1.jpg" alt="motorbike">
        </figure>
        <p>Motorbike</p>
        <p>$30.00</p>
      </div>

      <div class="shopping-cart">
        <figure>
          <img src="../img/mot-1.jpg" alt="motorbike">
        </figure>
        <p>Motorbike</p>
        <p>$30.00</p>
      </div>

      <div class="shopping-cart">
        <figure>
          <img src="../img/mot-1.jpg" alt="motorbike">
        </figure>
        <p>Motorbike</p>
        <p>$30.00</p>
      </div>

      <div class="shopping-cart">
        <figure>
          <img src="../img/mot-1.jpg" alt="motorbike">
        </figure>
        <p>Motorbike</p>
        <p>$30.00</p>
      </div>

    </div>

  </section>
</body>
</html>
